<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE EMS VIEW</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://public-kidiloski.s3.ap-south-1.amazonaws.com/view.css">
</head>
<body>
  <div class="main-body">
        <div class="w-max">
            <div class="side-bar">
                <div class="side-title">
                    <h3>Employee</h3>
                    <p>Management</p>
                </div>

                <div class="side-menu">
                  <a href="https://2a01pz6ulg.execute-api.ap-south-1.amazonaws.com/"><i class="fa-solid fa-house"></i>Dashboard</a>
                  <a href="https://2a01pz6ulg.execute-api.ap-south-1.amazonaws.com/"><i class="fa-solid fa-chart-simple"></i>Employees</a>
                  <a><i class="fa-solid fa-user"></i>My Profile</a>
                  <a><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                </div>

                <div class="side-footer">
                    <img src="/powered-by.png" alt="pewrrrrr">
                </div>
            </div>
            <div class="main">
                <div class="main-title">
                    <div class="title">
                      <p>Dashboard / Employees / Employee Details </p>
                      <h2>Employees</h2>
                    </div>

                    
                    
                    <!-- <div class="search-profile">
                        <input type="text" placeholder="Search" class="search">
                        <i class="fa-regular fa-bell"></i>
                        <img src="/profile.png" alt="padam">
                    </div> -->
                </div>
                <div class="employee-list">
                    
                    
<!-- ---------------------------------- -->
                  <div class="emp-details">
                    <div class="emp-basic">
                      <div class="emp-background-pic">
                        <img src="https://public-kidiloski.s3.ap-south-1.amazonaws.com/Background Image.png" alt="nfggb">
                      </div>
                      <div class="emp-pic">
                        <img src="<%= employee.avatar %>" alt="nfggb" id="emp-details-avatar">
                        <h3 id="emp-details-name"><%= employee.salutation %> <%= employee.firstName %> <%= employee.lastName %></h3>
                        <p id="emp-details-email"><%= employee.email %></p>
                      </div>
                    </div>


                    <div class="emp-advanced">
                      <div class="gender">
                        <h5>Gender</h5>
                        <p id="emp-details-gender"><%= employee.gender %></p>
                      </div>
                      <div class="age">
                        <h5>Age</h5>
                        <p id="emp-details-age"><%= calculateAge(employee.dob) %></p>
                      </div>
                      <div class="dob">
                        <h5>Date of Birth</h5>
                        <p id="emp-details-dob"><%= employee.dob.toDateString() %></p>
                      </div>
                    </div>


                    <div class="num-n-degree">
                      <div class="phn">
                        <h5>Mobile Number</h5>
                        <p id="emp-details-phone"><%= employee.phone %></p>
                      </div>
                      <div class="degree">
                        <h5>Qualifications</h5>
                        <p id="emp-details-qualifications"><%= employee.qualifications %></p>
                      </div>
                    </div>


                    <div class="contact">
                      <div class="address">
                        <h5>Address</h5>
                        <p id="emp-details-address"><%= employee.address %></p>
                      </div>
                      <div class="username">
                        <h5>Username</h5>
                        <p id="emp-details-username"><%= employee.username %></p>
                      </div>
                    </div>

                    <div class="del-edt">
                      <!-- <button class="delete" id="delete-in-view"><a href="index0.html" onclick="prepereDelete()">Delete</a></button>
                      <button class="edit" id="edit-in-view"><a href="index0.html" onclick="prepareEdit()">Edit Details</a></button> -->

                      <button class="delete" id="delete-in-view" onclick="deleteEmployee('<%= employee._id %>')">Delete</button>
                      <button class="edit" id="edit-in-view" onclick="editEmployeeVIEW('<%= employee._id %>')">Edit Details</button>


                    </div>
                    
                  </div>
    
    
                </div>
      <!-- EDIT EMPLOYEE ------------------------------------------------------------------------------------- -->

                <div class="edit-employee hide-edit" id="edit-employee-form">
                  <div class="add-employee-card card col-12 col-lg-6 mb-3 rounded-4">
                      <div class="heading-edit-emp">
                        <h3 class="p-3">Edit Employee</h3>
                        <button><i class="fa-solid fa-xmark edit-close-btn"></i></button>
                      </div>
          
                      <label class="text-center m-3 rounded-3 py-3 rounded-3 bg-light form-check upload rounded-4">
                        <img src="/profile.png" class="edit-emp-avatar" id="edit-avatar" alt="pic">
                        <!-- <button type="button" id="change-img">Change</button> -->
                        <!-- <input for="upload" class="styled" type="button" id="upload" value="Change" /> -->
                        <div class="edit-avatar">
                          <h4>Upload image</h4>
                          <input type="file" id="edit-emp-img">
                          <h6>png/jpg, files are allowed</h6>
                        </div>
                        
                        <!-- <button class="upload-button"><input type="file" id="upload">Change</button> -->
                      </label>
          
                      <div class="row congested m-2">
                          <div class="col-md-12 col-lg-4 my-2">
                            <label for="salutation star" class="text form-label star">Salutation</label></label><span class="error hide-error" id="ee1">Fill this</span>
                            <select name=""class="holder shadow-none form-select p-3 rounded-4" id="salutation-edit">
                              <option value="">Select</option>
                              <option value="Mr">Mr</option>
                              <option value="Ms">Ms</option>
                              <option value="Prefer not to say">Prefer not to say</option>
                            </select>
                          </div>
                          <div class="col-md-12 col-lg-4 my-2">
                            <label for="f-name" class="text form-label star">First name</label><span class="error hide-error" id="ee2">Fill this</span>
                            <input type="text" class="holder shadow-none form-control p-3 rounded-4" id="f-name-edit" placeholder="Daagini">
                          </div>
                          <div class="col-md-12 col-lg-4 my-2">
                            <label for="s-name" class="text form-label star">Second name</label><span class="error hide-error" id="ee3">Fill this</span>
                            <input type="text" class="holder shadow-none form-control p-3 rounded-4" id="s-name-edit" placeholder="Ammoomma">
                          </div>
                      </div>
          
                      <div class="row m-2">
                          <div class="col-md-12 col-lg-6 my-2">
                            <label for="mail" class="text form-label star">Email</label><span class="error hide-error" id="ee4">Fill this</span>
                            <input type="email" id="mail-edit" class="holder shadow-none form-control p-3 rounded-4" placeholder="luttappi@balarama.com">
                          </div>
                          <div class="col-md-12 col-lg-6 my-2">
                            <label for="num" class="text form-label star">Number</label><span class="error hide-error" id="ee5">Fill this</span>
                            <input type="text" id="num-edit" class="holder shadow-none form-control p-3 rounded-4" placeholder="Enter mobile number">
                          </div>
                      </div>
          
                      <div class="row sex m-2">
                          <div class="col-md-6 my-2">
                            <label for="date" class="text  form-label star">Date of Birth</label><span class="error hide-error" id="ee6">Fill this</span>
                            <input type="date" id="date-edit"   class="holder shadow-none form-control p-3 rounded-4">
                          </div>
                          <div class="col-md-6 my-2">
                            <label for="" class="star text">Gender</label><span class="error hide-error" id="ee7">Fill this</span>
                            <div class="d-flex f">
                              <div class="col-lg-3 col- form-check m-3">
                                <input type="radio" class="form-check-input rounded-4" value="Male" id="male-edit" name="gender">
                                <label for="male-edit" class="form-check-label light-letter">Male</label>
                              </div>
                              <div class="col-lg-3 col- form-check m-3">
                                <input type="radio" class="form-check-input" value="Female" id="female-edit" name="gender">
                                <label for="female-edit" class="form-check-label light-letter">Female</label>
                              </div>
                            </div>
                          </div>
                      </div>
          
                      <div class="row m-2">
                          <div class="col-md-12 my-2">
                              <label for="address"  class="text form-label star">Address</label><span class="error hide-error" id="ee8">Fill this</span>
                              <input type="text" id="address-edit" class="holder shadow-none form-control p-3 rounded-4" placeholder="Enter address">
                          </div>
                      </div>
          
                      <div class="row m-2">
                        <div class="col-md-12 my-2">
                            <label for="qualification"  class="text form-label star">Qualification</label><span class="error hide-error" id="ee9">Fill this</span>
                            <input type="text" id="qualification-edit" class="holder shadow-none form-control p-3 rounded-4" placeholder="Enter Qualification">
                        </div>
                      </div>
          
                      <div class="row m-2">
                          <div class="col-lg-6 col-md-12 my-2">
                            <label for="country" class="text form-label star rounded-4">Country</label><span class="error hide-error" id="ee10">Fill this</span>
                            <select name=""class="holder shadow-none form-select p-3 rounded-4" id="country-edit">
                              <option value="">Select State</option>
                              <option value="Utopia">Utopia</option>
                                <option value="Lokam">Lokam</option>
                                <option value="Pattanam">Pattanam</option>
                            </select>       
                             </div>
                          <div class="col-lg-6 col-md-12 my-2">
                            <label for="state" class="text form-label star rounded-4">State</label><span class="error hide-error" id="ee11">Fill this</span>
                            <select name=""class="holder shadow-none form-select p-3 rounded-4" id="state-edit">
                              <option value="">Select State</option>
                              <option value="Mew">Mew</option>
                              <option value="Rome">Rome</option>
                              <option value="KGF">KGF</option>
                            </select>
                          </div>
                      </div>
          
                      <div class="row pb-4 m-2">
                          <div class="col-md-6 my-2">
                            <label for="city" class="text form-label star">City</label><span class="error hide-error" id="ee12">Fill this</span>
                            <input type="text" class="holder shadow-none form-control p-3 rounded-4" id="city-edit" placeholder="Enter city">
                          </div>
                          <div class="col-md-6 my-2">
                            <label for="pin" class="text form-label star">Pin/Zip</label><span class="error hide-error" id="ee13">Fill this</span>
                            <input type="text" class="holder shadow-none form-control p-3 rounded-4" id="pin-edit" placeholder="Enter Pin/Zip">
                          </div>
                      </div>
          
                      <div class="common-buttons">
                        <button class="transparent-button edit-cancel-btn">Cancel</button>
                        <button class="coloured-button edit-save-btn" id="edit-save-btn" onclick="editEmployeeSAVE('<%= employee._id %>')">Save Changes</button>
                      </div>
                      
                  </div>
              </div>


              
          
              <!-- DELETE EMPLOYEE ------------------------------------------------------------------------------- -->

              <div class="delete-emp hide-delete">
                <div class="delete-emp-card">
                  <h3>Delete Empployee<h3>
                  <i class="fa-solid fa-xmark close-delete"></i>
                </div>
                <p>Are you sure you want to delete this employee?</p>
                <div class="buttonz">
                  <button class="cancel-btn">Cancel</button>
                  <button class="delete-emp-inner-btn">Delete</button>
                </div>
              </div>

              <!-- DELETED---------------------------------------------------------------- -->
    
              <div class="deleted hide-deleted">
                <h3>DELETED</h3>
              </div>

                <footer>
                    <p>© 2023  All Rights Reserved. Stackup</p>
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                </footer>
            </div>
    
    
    
    
    
        </div>
    





    <!---------------------------------------------------------------------------------------- -->



  </div>
    <script src="https://public-kidiloski.s3.ap-south-1.amazonaws.com/view.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>